#textdomain wesnoth-Wild_Frontiers
[scenario]
	id=A_New_Beginning
	next_scenario=Summer_of_Dreams
	name=_"A New Beginning"
	turns={SEASON_LENGTH}
	victory_when_enemies_defeated=no

	{DEFAULT_SCHEDULE}

	{DEFAULT_MUSIC_PLAYLIST}

	{GENERATE_MAP}
	{WF_GATED_MASK}

	{BEGINNING_STORY}

	[event]
		name=prestart

		# ----- Set up Campaign ------------------------------------------
		# These control enemy characteristics. See game_parameters.cfg
		{SETUP_GAME_VARIABLES}
		{SETUP_STATIC_VARIABLES}

		# ----- Season-specific initialize ----------------------------------
		# SETUP_SEASON_VARIABLES takes over in later seasons
		# What season # is it? Enemies get stronger and other effects occur
		# as the years go on. Starts at zero.
		{VARIABLE wf_vars.season -1}			# First season is 0
		{SETUP_SEASON_VARIABLES spring _"Spring"}	# season +1 done here
	[/event]

	{YOU_ARE_SIDE1 yes}
	{ANIMALS_ARE_SIDE2 0}
	{NICE_OUTLAWS_ARE_SIDE3}
	{MEAN_OUTLAWS_ARE_SIDE4}
	{ORCS_ARE_SIDE5}	# not actually present, but sides must be defined in order
	{ELVES_ARE_SIDE6}
	{UNDEAD_ARE_SIDE7}
	{CALAMITY_IS_SIDE8}
	{FRIENDS_ARE_SIDE9}

	{NEW_OUTLAWS_RAIDS $jumps.spring_outlaws LIMIT=2}
	{NEW_ORC_AND_UNDEAD_RAIDS $jumps.spring_raids LIMIT=-1} # No raids in first spring

	# ----- Prestart -----------------------------------------------------
	[event]
		name=prestart


		# ----- Set up Campaign ------------------------------------------

		# Determine where signposts are on each map edge
		[set_variable]
			name=center_x
			ipart="$({MAP_WIDTH}/2)"
		[/set_variable]
		[set_variable]
			name=center_y
			ipart="$({MAP_HEIGHT}/2)"
		[/set_variable]
		# East, North, West, South in order
		{FIND_SIGN_SITE_NEAR {MAP_WIDTH} $center_y y}
		{FIND_SIGN_SITE_NEAR $center_x 1 x}
		{FIND_SIGN_SITE_NEAR 1 $center_y y}
		{FIND_SIGN_SITE_NEAR $center_x {MAP_HEIGHT} x}

		# Relics (the latter macro should be in all scenarios)
		{SELECT_RELICS}
		{SET_UP_RELICS}

		# Place the hero and his sidekicks -- can't be done in the [side] tage
		# because I need to make sure you don't get placed on top of a mountain
		# or something by playing with variables.

		# Pick a starting location and put the hero and lackeys there
		{FIND_NEAREST_HEX center_plains $center_x $center_y (
			terrain=G*
			[filter_adjacent_location]
				terrain=G*
				count=3-6
			[/filter_adjacent_location])}

		# I use the temporary leader to maintain consistency of leader id with
		# the later scenarios, thereby keeping the recall list intact. The
		# temporary leader is required in later scenarios to avoid problems
		# with the unstoring of units.
		[unit]
			id=Hero
			side=1
			canrecruit=yes
			type=Sergeant
			generate_name=yes
			gender=male
			x=$center_plains.x
			y=$center_plains.y
			placement=map
			passable=yes
		[/unit]
		{CLEAR_VARIABLE center_x}
		{CLEAR_VARIABLE center_y}

		[unit]
			id=loyal_swordsman
			side=1
			type=Swordsman
			generate_name=yes
			random_traits=no
			random_gender=yes
			[modifications]
				{TRAIT_LOYAL}
				{TRAIT_FEARLESS}
			[/modifications]
			{IS_LOYAL}
			role=advisor
			placement=leader
			passable=yes
		[/unit]
		[unit]
			id=loyal_cavalry
			side=1
			type=Cavalryman
			generate_name=yes
			random_traits=no
			random_gender=yes
			[modifications]
				{TRAIT_LOYAL}
				{TRAIT_RESILIENT}
			[/modifications]
			{IS_LOYAL}
			role=cynic
			placement=leader
			passable=yes
		[/unit]
		[unit]
			id=loyal_bowman
			side=1
			type=Bowman
			generate_name=yes
			random_traits=no
			random_gender=yes
			[modifications]
				{TRAIT_LOYAL}
				{TRAIT_QUICK}
			[/modifications]
			{IS_LOYAL}
			role=fool
			placement=leader
			passable=yes
		[/unit]
		# Give initial campaign gold
		[gold]
			side=1
			{STARTING_GOLD}
		[/gold]

		# Store leader's name, perhaps used in dialogue
		[store_unit]
			variable=leader_store
			[filter]
				id=Hero
			[/filter]
		[/store_unit]
		{VARIABLE wf_vars.hero_name $leader_store.name}
		{CLEAR_VARIABLE leader_store}

		# ----- Scenario-specific stuff ----------------------------------

		# Farms produce a few crops in the spring
		[modify_side]
			side=1
			village_gold=$farm_income.spring
			village_support=$farm_support.spring
		[/modify_side]

		# Workers can build and alter terrain, can't move while working
		{WORKERS_CAN_WORK}

		# Un-recruit units to your recall list
		{ALLOW_UNRECRUIT}

		# Assign speaker roles on recruiting
		{ASSIGN_SPEAKER_ROLES}

		# Signposts
		{SET_MAP_SIGNS}

		# Fewer outlaws to start with (add more at end)
		#{VARIABLE_OP enemy.num_outlaws sub 1}

		# Place random animals in the area
		#{REPEAT $enemy.num_animals {FIRE_EVENT new_random_animal}}

		{SCATTER_UNITS $enemy.num_animals "Vampire Bat,Giant Rat,Rabbit,Rabbit,Tusklet,Tusklet,Tusklet,Wolf,Wolf,Wolf,Lynx,Lynx,Tusker,Young Ogre,Wose" 1 (
			terrain=*^F*,H*,H*^E*,M*,M*^E*
			{X_AND_Y_ARE_ON_THE_MAP}
			{NOT_FILTER}
			{NOT_FILTER_ADJACENT}
		) (
			side=2
			placement=map
			passable=yes
			generate_name=yes
			random_gender=yes
			random_traits=yes
			{OBJECT_LOYAL}
		)}


		# But reduce or weaken those near the player
		[store_unit]
			variable=beast_list
			kill=yes
			[filter]
				side=2
				[filter_location]
					x,y=$center_plains.x,$center_plains.y
					radius=12
				[/filter_location]
			[/filter]
		[/store_unit]
		[if]
			{VARIABLE_CONDITIONAL beast_list.length greater_than 4}
			[then]
				{VARIABLE allowed_animals 4}
			[/then]
			[else]
				{VARIABLE allowed_animals $beast_list.length}
			[/else]
		[/if]
		{VARIABLE i 0}
		[while]
			{VARIABLE_CONDITIONAL i less_than $allowed_animals}
			[do]
				[switch]
					variable=beast_list[$i].type
					[case]
						value="Wolf,Young Ogre,Tusker,Wose,Lynx"
						[unit]
							side=2
							type="Rabbit"
							x=$beast_list[$i].x
							y=$beast_list[$i].y
							generate_name=yes
							random_gender=yes
							random_traits=yes
							{OBJECT_LOYAL}
						[/unit]
					[/case]
					[case]
						value="Great Wolf,Direwolf,Giant Spider,Wose,Elder Wose,Ancient Wose,Ogre,Gorer"
						[unit]
							side=2
							#type="Wolf"
							type="Tusklet"
							x=$beast_list[$i].x
							y=$beast_list[$i].y
							generate_name=yes
							random_gender=yes
							random_traits=yes
							{OBJECT_LOYAL}
						[/unit]
					[/case]
					[case]
						value="Water Serpent"
						[unit]
							side=2
							#type="Vampire Bat"
							type="Tentacle of the Deep"
							x=$beast_list[$i].x
							y=$beast_list[$i].y
							generate_name=yes
							random_gender=yes
							random_traits=yes
							{OBJECT_LOYAL}
						[/unit]
					[/case]
					# "Extra" units or other types are simply killed off
				[/switch]
				{VARIABLE_OP i add 1}
			[/do]
		[/while]
		{CLEAR_VARIABLE center_plains,beast_list,allowed_animals,i}

		# Allow the hero to build a keep
		[set_menu_item]
			id=build_keep_hero
			description=_ "Build your keep here"
			image="tent_icon.png"
			[show_if]
				[and]
					[have_location]
						terrain=Ke^Yk
						count=0
					[/have_location]
					[have_unit]
						id=Hero
						x=$x1
						y=$y1
					[/have_unit]
				[/and]
			[/show_if]
			[command]
				[if]
					[and]
						[have_location]
							terrain={BUILDABLE_TERRAIN}
							x,y=$x1,$y1
						[/have_location]
						[have_location]
							terrain={BUILDABLE_TERRAIN}
							x,y=$x1,"$($y1-1)"
						[/have_location]
					[/and]
					[then]
						{BUILD_KEEP_1}
						[message]
							{BUILD_KEEP_2}
							[text_input]
								label=_"Name:"
								variable=town_name
								text=$wf_vars.hero_name
								max_length=16
							[/text_input]
						[/message]
						[if]
							{VARIABLE_CONDITIONAL town_name equals $wf_vars.hero_name}
						[then]
							{BUILD_KEEP_3}
						[/then]
						[/if]
						[allow_recruit]
							side=1
							type=Peasant_no_Advance,Woodsman_no_Advance,Ruffian_no_Advance,Peasant Workers
						[/allow_recruit]
						{MODIFY_UNIT id=Hero moves 0}
						{MODIFY_TERRAIN "Ke^Yk" $x1 $y1}
						{MODIFY_TERRAIN "Ce" $x1 "$($y1-1)"}
						{BUILD_KEEP_4}
						{STANDARD_OBJECTIVES spring}
						[redraw]
						[/redraw]
						{BUILD_KEEP_5}
						[if]
							{VARIABLE_CONDITIONAL town_name not_equals ""}
							[then]
								{VARIABLE wf_vars.town_name $town_name}
								{ADD_MAP_LABEL $x1 $y1 $town_name}
							[/then]
							[else]
						{VARIABLE wf_vars.town_name _"Town center"}
						{ADD_MAP_LABEL $x1 $y1 _"Town center"}
							[/else]
						[/if]
						{CLEAR_VARIABLE town_name}
						[clear_menu_item]
							id=relocate_keep_hero
						[/clear_menu_item]
						# kill "build keep" menu item for all later scenarios
						[clear_menu_item]
							id=build_keep_hero
						[/clear_menu_item]
					[/then]
					[else]
						[if]
							[and]
								{HAVE_ADVISOR}
								{HAVE_CYNIC}
							[/and]
							[then]
								{BUILD_KEEP_FAIL_1}
							[/then]
						[/if]
						{BUILD_KEEP_FAIL_2}
					[/else]
				[/if]
			[/command]
		[/set_menu_item]
		[capture_village]
			side=1
			terrain=*^V*
		[/capture_village]
	[/event]

	# ----- Start --------------------------------------------------------
	# Start: Intro dialog and tutorial
	[event]
		name=start

		{GREETING_DELFADOR}
		{VARIABLE tutorial.messages yes}

		[scroll_to_unit]
			id=Hero
		[/scroll_to_unit]

		{INITIAL_DIALOGUE}

		[objectives]
			side=1
			[objective]
				condition=win
				description=_"Build a new keep"
			[/objective]
			{OBJECTIVE_SURVIVE}
			{OBJECTIVE_DONT_DIE}
			{NOTE_GOLD_CARRYOVER}
		[/objectives]
		[redraw]	# Hopefully this will show the objectives before the remaining tutorial messages
		[/redraw]

		{BEGINNING_TUTORIAL}

		{DISPLAY_YEAR_AND _"Spring"}
	[/event]


	# ----- In-scenario Events -------------------------------------------
	{LOW_GOLD_WARNINGS}
	{TUTORIAL_MESSAGES}
	{GENERIC_DIALOGUE}
	{LOYAL_AMLA}

	[event]
		name=new turn
		[filter_condition]	# done this way so I can do math on the turn number
			[variable]
				name=turn_number
				numerical_equals="$({SEASON_LENGTH}-2)"
			[/variable]
		[/filter_condition]

		{END_OF_BEGINNING}

		{WF_RANDOM_PLACEMENT Mm Md}
		{WF_RANDOM_PLACEMENT Gg Gs}
	[/event]

	# ----- Defeat & Victory Conditions ----------------------------------
	# These are added to once you build your keep
	{DEFEAT_HERO_DIES}
	{DEFEAT_BANKRUPTCY}

	#{END_OF_SEASON}
	{CAMPAIGN_VICTORY}	# This needs to be here for the gold check

	# ----- Clean-up -----------------------------------------------------
	[event]
		name=time_over

		[if]
			[have_location]
				terrain=Ke^Yk
				count=0
			[/have_location]
		[then]
			[endlevel]
				result=defeat
			[/endlevel]
		[/then]
		[else]
			[fire_event]
				name=wf_victory
			[/fire_event]
			[endlevel]
				result=victory
				bonus=no
				carryover_add=no
				carryover_report=yes
				carryover_percentage=100
				save=yes
				linger_mode=no
			[/endlevel]
		[/else]
		[/if]
	[/event]

	[event]
		name=wf_victory

		# Outlaw band size back to normal
		#{VARIABLE_OP enemy.num_outlaws add 1}

		{CLEAR_VARIABLE quota}
		{STORE_MAP_AND_UNITS}
		{WF_CLEANUP_MENU}
	[/event]

	{WF_RAND_CHOICE_EVENT}
	{WF_DIPLOMACY}
	{WF_SEASON_DEBUG spring}
[/scenario]
