#textdomain wesnoth-Wild_Frontiers

[scenario]
    name= _ "Fall Guardians"
    id=Fall_Guardians
    next_scenario=Fall_Guardians

    [story]
        [part]
            background="story/swamp-03.jpg"
            scale_background=no
            story= _ "You answer the call for aid... Time to restore order."
        [/part]
    [/story]

    map_generation=default
    [generator]
        name=default
        map_width=24
        map_height=24
        iterations=720
        hill_size=6
        max_lakes=40
        villages=25
        players=2
        castle_size=2
        min_lake_height=500
        lake_size=150
        river_frequency=20

        temperature_iterations=2000
        temperature_size=4

        roads=4
        road_windiness=3

        #list of common terrain types which come in at
        #different heights, from highest to lowest
        [height]
            height=600
            terrain=Mm
        [/height]
        [height]
            height=500
            terrain=Hhd
        [/height]
        [height]
            height=100
            terrain=Gd
        [/height]
        [height]
            height=5
            terrain=Ww
        [/height]
        [height]
            height=0
            terrain=Wo
        [/height]

        #water at cold temperatures becomes ice
        [convert]
            min_height=50
            max_temperature=150
            from=Ww, Wo, Ss
            to=Ai
        [/convert]

        #at low temperatures, snow appears
        [convert]
            min_height=50
            max_temperature=150
            from=Gd, Ds
            to=Aa
        [/convert]

        #hills at low temperatures get snow on them
        [convert]
            max_temperature=200
            from=Hhd
            to=Ha
        [/convert]

        #mountains at low temperatures get snow on them
        [convert]
            max_temperature=200
            from=Mm
            to=Ms
        [/convert]

        #forest appears at moderate temperatures
        [convert]
            min_temperature=250
            max_temperature=400
            from=Gd
            to=Aa^Fpa
        [/convert]

        #forest appears at moderate temperatures
        [convert]
            min_temperature=250
            max_temperature=500
            from=Gd
            to=Gll^Fp
        [/convert]

        #road costs
        [road_cost]
            terrain=Gd
            cost=10
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Gll^Fp
            cost=20
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Aa^Fpa
            cost=20
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Ww
            cost=50
            convert_to_bridge=Ww^Bw|, Ww^Bw/, Ww^Bw\
            convert_to=Ch
        [/road_cost]

        [road_cost]
            terrain=Hhd
            cost=25
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Ha
            cost=25
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Mm
            cost=40
            convert_to=Re
        [/road_cost]

        #road going through snow
        [road_cost]
            terrain=Aa
            cost=10
            convert_to=Re
        [/road_cost]

        # MIN_COST_ROAD
        [road_cost]
            terrain=Re
            cost=2
            convert_to=Re
        [/road_cost]
        [road_cost]
            terrain=Rr
            cost=2
            convert_to=Rr
        [/road_cost]
        [road_cost]
            terrain=Ww^Bw|
            cost=2
            convert_to=Ww^Bw|
        [/road_cost]
        [road_cost]
            terrain=Ww^Bw/
            cost=2
            convert_to=Ww^Bw/
        [/road_cost]
        [road_cost]
            terrain=Ww^Bw\
            cost=2
            convert_to=Ww^Bw\
        [/road_cost]
        [road_cost]
            terrain=Ch
            cost=2
            convert_to=Ch
        [/road_cost]

        [village]
            terrain=Gd
            convert_to=Gd^Vh
            adjacent_liked=Gd, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Gll^Fp
            rating=6
        [/village]

        #villages in forest are Elvish
        [village]
            terrain=Gs^Fp
            convert_to=Gg^Ve
            rating=4
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Gs^Fp, Gll^Fp, Gll^Fp
        [/village]

        [village]
            terrain=Aa^Fpa
            convert_to=Aa^Vha
            rating=4
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Aa^Fpa, Aa^Fpa, Aa^Fpa
        [/village]

        [village]
            terrain=Hhd
            convert_to=Hhd^Vhh
            rating=4
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Gll^Fp
        [/village]

        [village]
            terrain=Ha
            convert_to=Ha^Vhha
            rating=4
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Ha, Gll^Fp
        [/village]

        [village]
            terrain=Mm
            convert_to=Mm^Vhh
            rating=3
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Gll^Fp
        [/village]

        #villages in snow
        [village]
            terrain=Aa
            convert_to=Aa^Vha
            rating=4
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Gll^Fp, Aa
        [/village]

        [castle]
            valid_terrain=Gd, Gll^Fp, Hhd, Aa^Fpa, Ha, Mm
            min_distance=12
        [/castle]

        [naming]
            {VILLAGE_NAMES}
        [/naming]

        [village_naming]
            {VILLAGE_NAMES}
        [/village_naming]
    [/generator]

    {DEFAULT_MUSIC_PLAYLIST}
    {DEFAULT_SCHEDULE}

    [event]
        name=prestart

        [terrain]
            terrain=Chr
            [and]
                [not]
                    terrain=C*
                [/not]
                [filter_adjacent_location]
                    terrain=K*
                [/filter_adjacent_location]
            [/and]
        [/terrain]

        [terrain]
            terrain=Ww
            [and]
                terrain=Wo*
                [filter_adjacent_location]
                    terrain=*^V*
                [/filter_adjacent_location]
            [/and]
        [/terrain]

        {WF_SCATTER_EMBELLISHMENTS G*,D*,R*,Uu*,Ur*,Aa ^Es 2}
        {WF_SCATTER_EMBELLISHMENTS Uu* ^Emf 2}
        {WF_SCATTER_EMBELLISHMENTS G*,R*,Aa ^Wm 0.25}
        {WF_ROAD_PATH Re Re}
    [/event]

    [side]
        side=1
        controller=human
        team_name=settlers
        user_team_name=_"Settlers"
        fog=no
        shroud=no
        {FLAG_VARIANT loyalist}
        recruit= #Peasant_no_Advance,Woodsman_no_Advance,Ruffian_no_Advance,Peasant Workers
        gold=0					# side gold set in first scenario
        income=-2				# cancel out the base_income
        save_id=Hero
        persistent=yes
        no_leader=yes
        defeat_condition=no_leader_left
    [/side]

    [side]
        side=2
        controller=ai
        recruit=
        team_name=Rioters
        user_team_name=_"Rioters"
        gold=0
        income=0
        no_leader=yes
        hidden=yes
        defeat_condition=no_units_left
    [/side]

    random_start_time=no
    {TURNS 36 36 36}
    victory_when_enemies_defeated=no

    {SHARED_GUARDIAN_EVENTS}
    {SHARED_SUB_EVENTS}
    {WF_RAND_CHOICE_EVENT}
    {WF_SEASON_DEBUG autumn}
[/scenario]
