#textdomain wesnoth-Wild_Frontiers

[scenario]
    name= _ "Abandoned Mine"
    id=Hidden_Cave
    next_scenario=Hidden_Cave

    [story]
        [part]
            story= _ "You venture into the dark mine... You see a light flicker at the end of the tunnel..."
        [/part]
        [part]
            scale_background=no
            background=portraits/dwarves/explorer.png
            story= _ "Hark, who goes there?"
        [/part]
    [/story]

    map_generation=lua
    [generator]
        id="cavegen"
        config_name="Lua Cave Generator"
        create_map = << return wesnoth.require("~add-ons/Wild_Frontiers/lua/cave_map_generator").generate_map(...) >>

        village_density=0

        terrain_wall = "Xu"
        terrain_clear = "Uu"
        terrain_keep = "Kud"
        terrain_castle = "Cud"
        terrain_village = "Uu^Vud"

        # Bottom right inside corner is 24,24
        map_width=26
        map_height=26

        transform=flip_x,flip_y,flip_xy
        #transform=flip_x
        #transform=flip_y
        #transform=flip_xy
        transform_chance=50

        [chamber]
            id=road_east
            x=24
            y=10-14
            size=2
        [/chamber]
        [chamber]
            id=road_west
            x=1
            y=10-14
            size=2
        [/chamber]
        [chamber]
            id=road_south
            x=10-14
            y=24
            size=2
        [/chamber]
        [chamber]
            id=road_north
            x=10-14
            y=1
            size=2
        [/chamber]
        [chamber]
            id=crossroads
            x=10-14
            y=10-14
            size=2
            {PASSAGE_LAZY road_east 1}
            {PASSAGE_LAZY road_west 1}
            {PASSAGE_LAZY road_south 1}
            {PASSAGE_LAZY road_north 1}
        [/chamber]
        [chamber]
            id=mini_01
            x=4-6,4-6
            y=4-6,19-21
            {PLACE_CASTLE 1}
            {PASSAGE_LAZY road_east 1}
            {PASSAGE_LAZY road_west 1}
            {PASSAGE_LAZY road_south 1}
            {PASSAGE_LAZY road_north 1}
            {PASSAGE_LAZY crossroads 2}
        [/chamber]
        [chamber]
            id=mini_02
            x=19-21
            y=19-21
            {PLACE_CASTLE 2}
            {PASSAGE_LAZY crossroads 2}
        [/chamber]
        [chamber]
            id=mini_03
            x=19-21
            y=4-6
            {PLACE_CASTLE 3}
            {PASSAGE_LAZY crossroads 2}
        [/chamber]
    [/generator]

    {SCENARIO_MUSIC underground.ogg}
    {EXTRA_SCENARIO_MUSIC suspense.ogg}

    {UNDERGROUND}

    [event]
        name=prestart

        # Jagged walls
        {REPEAT 2 (
            [random_placement]
                {NUM_ITEMS 5}
                variable=random_placement_location
                allow_less=yes
                min_distance=0
                [filter_location]
                    terrain=Xu
                    include_borders=no
                    [filter_adjacent_location]
                        terrain=Uu,Uu^Vud,Cud
                        count=1-4
                    [/filter_adjacent_location]
                [/filter_location]
                [command]
                    [terrain]
                        x,y=$random_placement_location.x,$random_placement_location.y
                        terrain=Uu
                    [/terrain]
                [/command]
            [/random_placement]
            {CLEAR_VARIABLE random_placement_location}
        )}

        # Clear walls around castle
        [terrain]
            terrain=Uu
            [and]
                terrain=Xu
                [filter_adjacent_location]
                    terrain=Cud
                [/filter_adjacent_location]
            [/and]
        [/terrain]

        # Change lonely walls into cave
        [terrain]
            terrain=Uu
            [and]
                terrain=Xu
                [filter_adjacent_location]
                    terrain=Xu
                    count=0
                [/filter_adjacent_location]
            [/and]
        [/terrain]

        # Change half of inside walls into lava chasms
        [random_placement]
            {NUM_ITEMS 50}
            variable=random_placement_location
            allow_less=yes
            min_distance=0
            [filter_location]
                include_borders=no
                terrain=Xu
                [filter_adjacent_location]
                    terrain=Uu,Cud,Uu^Vud
                    count=0
                [/filter_adjacent_location]
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=Ql
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Change lonely chasms into wall
        [terrain]
            terrain=Xu
            [and]
                terrain=Ql
                [filter_adjacent_location]
                    terrain=Ql
                    count=0
                [/filter_adjacent_location]
            [/and]
        [/terrain]

        # Change lonely wall into chasms
        [terrain]
            terrain=Ql
            [and]
                terrain=Xu
                [filter_adjacent_location]
                    terrain=Ql
                    count=6
                [/filter_adjacent_location]
            [/and]
        [/terrain]

        # Change most cave wall into boarded up
        [random_placement]
            {NUM_ITEMS 75}
            variable=random_placement_location
            allow_less=yes
            min_distance=0
            [filter_location]
                include_borders=no
                terrain=Xu
                [filter_adjacent_location]
                    terrain=Uu
                [/filter_adjacent_location]
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=Xuc
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Create lava opening
        [random_placement]
            {NUM_ITEMS 15}
            variable=random_placement_location
            allow_less=yes
            min_distance=3
            [filter_location]
                include_borders=no
                terrain=X*
                [filter_adjacent_location]
                    terrain=Uu
                [/filter_adjacent_location]
                [filter_adjacent_location]
                    terrain=Ql
                [/filter_adjacent_location]
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=Uu
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Change boarded next to lava into walls
        [terrain]
            terrain=Xu
            [and]
                terrain=Xuc
                [filter_adjacent_location]
                    terrain=Ql
                [/filter_adjacent_location]
            [/and]
        [/terrain]

        # Cave/Hills
        [random_placement]
            {NUM_ITEMS 15}
            variable=random_placement_location
            allow_less=yes
            min_distance=3
            [filter_location]
                terrain=Uu
                include_borders=no
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=Uh
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Flat
        [random_placement]
            {NUM_ITEMS 8}
            variable=random_placement_location
            allow_less=yes
            min_distance=0
            [filter_location]
                terrain=Uu
                include_borders=no
            [/filter_location]
            [command]
                {RANDOM_VAR rnd_road (Urb,Ur)}
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=$rnd_road
                [/terrain]
                {CLEAR_VARIABLE rnd_road}
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Villages
        [random_placement]
            {NUM_ITEMS 8}
            variable=random_placement_location
            allow_less=yes
            min_distance=3
            [filter_location]
                terrain=U*
                include_borders=no
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=^Vud
                    layer=overlay
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Dwarves castle
        [random_placement]
            {NUM_ITEMS 4}
            variable=random_placement_location
            allow_less=yes
            min_distance=3
            [filter_location]
                terrain=U*
                include_borders=no
                [filter_adjacent_location]
                    terrain=Cud
                    count=0
                [/filter_adjacent_location]
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=Cud
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Brazier
        [random_placement]
            {NUM_ITEMS 8}
            variable=random_placement_location
            allow_less=yes
            min_distance=3
            [filter_location]
                terrain=U*
                include_borders=no
                [filter_adjacent_location]
                    terrain=X*,Q*
                [/filter_adjacent_location]
            [/filter_location]
            [command]
                {RANDOM_VAR rnd_brazier (^Eb,^Ebn,^Ebn)}
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=$rnd_brazier
                    layer=overlay
                [/terrain]
                {CLEAR_VARIABLE rnd_brazier}
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Can't fly over Lava
        [terrain]
            terrain=Ql^Xo
            [and]
                terrain=Ql
            [/and]
        [/terrain]
        {WF_SCATTER_OVERLAY U*,R* ^Em 5}
    [/event]

    {WF_ROAD_PATH Rb Rb}

    {WF_SCENE_DRAGON}
    {WF_SEASON_DEBUG spring}
[/scenario]
