#textdomain wesnoth-Wild_Frontiers

[scenario]
    name= _ "Indoors"
    id=Indoors
    next_scenario=Indoors

    [story]
        [part]
            story= _ "What now? Must I do everything?!"
        [/part]
    [/story]

    map_generation=lua
    [generator]
        id="cavegen"
        config_name="Lua Cave Generator"
        create_map = << return wesnoth.require("~add-ons/Wild_Frontiers/lua/cave_map_generator").generate_map(...) >>

        village_density=0

        terrain_wall = "Xos"
        terrain_clear = "Iwr"
        terrain_keep = "Kud"
        terrain_castle = "Cud"
        terrain_village = "Iwr^Vud"

        # Bottom right inside corner is 24,24
        map_width=26
        map_height=26

        transform=flip_x,flip_y,flip_xy
        #transform=flip_x
        #transform=flip_y
        #transform=flip_xy
        transform_chance=50

        [chamber]
            id=road_east
            x=24
            y=10-14
            size=2
        [/chamber]
        [chamber]
            id=road_west
            x=1
            y=10-14
            size=2
        [/chamber]
        [chamber]
            id=road_south
            x=10-14
            y=24
            size=2
        [/chamber]
        [chamber]
            id=road_north
            x=10-14
            y=1
            size=2
        [/chamber]
        [chamber]
            id=crossroads
            x=10-14
            y=10-14
            size=2
            {PASSAGE_LAZY road_east 1}
            {PASSAGE_LAZY road_west 1}
            {PASSAGE_LAZY road_south 1}
            {PASSAGE_LAZY road_north 1}
        [/chamber]
        [chamber]
            id=mini_01
            x=4-6,4-6
            y=4-6,19-21
            {PLACE_CASTLE 1}
            {PASSAGE_LAZY road_east 1}
            {PASSAGE_LAZY road_west 1}
            {PASSAGE_LAZY road_south 1}
            {PASSAGE_LAZY road_north 1}
            {PASSAGE_LAZY crossroads 2}
        [/chamber]
        [chamber]
            id=mini_02
            x=19-21
            y=19-21
            {PLACE_CASTLE 2}
            {PASSAGE_LAZY crossroads 2}
        [/chamber]
        [chamber]
            id=mini_03
            x=19-21
            y=4-6
            {PLACE_CASTLE 3}
            {PASSAGE_LAZY crossroads 2}
        [/chamber]
    [/generator]

    {SCENARIO_MUSIC       casualties_of_war.ogg}
    {EXTRA_SCENARIO_MUSIC battle.ogg}
    {EXTRA_SCENARIO_MUSIC siege_of_laurelmor.ogg}

    {INDOORS}

    [event]
        name=prestart

        # Clear walls around castle
        [terrain]
            terrain=Iwr
            [and]
                terrain=Xos
                [filter_adjacent_location]
                    terrain=Cud
                [/filter_adjacent_location]
            [/and]
        [/terrain]

        # Wall light
        [random_placement]
            {NUM_ITEMS 15}
            variable=random_placement_location
            allow_less=yes
            min_distance=3
            [filter_location]
                terrain=Xos
                include_borders=no
                [filter_adjacent_location]
                    terrain=X*
                    adjacent=s
                    count=0
                    include_borders=no
                [/filter_adjacent_location]
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=Xos^Efs
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Remove wall light at the bottom of the map
        [terrain]
            terrain=Xos
            [and]
                terrain=Xos^Efs
                [filter_adjacent_location]
                    terrain=Iwr,Kud,Cud,Iwr^Vud
                    count=0
                [/filter_adjacent_location]
            [/and]
        [/terrain]

        # Wood rug
        [random_placement]
            {NUM_ITEMS 15}
            variable=random_placement_location
            allow_less=yes
            min_distance=0
            [filter_location]
                terrain=Iwr
                include_borders=no
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=Icn
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Broken wood
        [random_placement]
            {NUM_ITEMS 15}
            variable=random_placement_location
            allow_less=yes
            min_distance=0
            [filter_location]
                terrain=Iwr
                include_borders=no
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=Ior
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Villages
        [random_placement]
            {NUM_ITEMS 8}
            variable=random_placement_location
            allow_less=yes
            min_distance=3
            [filter_location]
                terrain=I*
                include_borders=no
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=^Vud
                    layer=overlay
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Dwarves castle
        [random_placement]
            {NUM_ITEMS 4}
            variable=random_placement_location
            allow_less=yes
            min_distance=3
            [filter_location]
                terrain=I*
                include_borders=no
                [filter_adjacent_location]
                    terrain=Cud
                    count=0
                [/filter_adjacent_location]
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=Cud
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Brazier
        [random_placement]
            {NUM_ITEMS 8}
            variable=random_placement_location
            allow_less=yes
            min_distance=3
            [filter_location]
                terrain=I*
                include_borders=no
                [filter_adjacent_location]
                    terrain=Xos
                [/filter_adjacent_location]
            [/filter_location]
            [command]
                {RANDOM_VAR rnd_brazier (^Eb,^Ebn,^Ebn)}
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=$rnd_brazier
                    layer=overlay
                [/terrain]
                {CLEAR_VARIABLE rnd_brazier}
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Walls
        {RANDOM_VAR rnd_terrain (Xos,Xom,Xoi,Xoc)}
        [if]
            {VARIABLE_CONDITIONAL rnd_terrain not_equals "Xos"}
            [then]
                {SWITCH_TERRAIN_BASE "Xos" $rnd_terrain}
            [/then]
        [/if]

        # Floor/Carpet
        {RANDOM_VAR rnd_terrain (Iwr,Irs)}
        [if]
            {VARIABLE_CONDITIONAL rnd_terrain not_equals "Iwr"}
            [then]
                {SWITCH_TERRAIN_BASE "Iwr" "Irs"}
                {SWITCH_TERRAIN_BASE "Ior" "Irs"}
                {SWITCH_TERRAIN_BASE "Icn" "Icr"}
            [/then]
        [/if]

        # Keep/Castle
        {RANDOM_VAR rnd_terrain (Kud,Ch)}
        [if]
            {VARIABLE_CONDITIONAL rnd_terrain not_equals "Kud"}
            [then]
                {SWITCH_TERRAIN_BASE "Kud" "Kh"}
                {SWITCH_TERRAIN_BASE "Cud" "Ch"}
            [/then]
        [/if]

        # Villages
        {RANDOM_VAR rnd_terrain (Vud,Vd)}
        [if]
            {VARIABLE_CONDITIONAL rnd_terrain not_equals "Vud"}
            [then]
                {SWITCH_TERRAIN_OVERLAY "Vud" "Vd"}
            [/then]
        [/if]
        {CLEAR_VARIABLE rnd_terrain}

        #Keep all braziers lit
        {SWITCH_TERRAIN_OVERLAY "Eb" "Ebn"}
    [/event]

    {WF_SCENE_INDOOR}
    {WF_SEASON_DEBUG winter}
[/scenario]
