#textdomain wesnoth-Wild_Frontiers

[scenario]
    name= _ "Raid Spring"
    id=Raid_Spring
    next_scenario=Raid_Spring

    [story]
        [part]
            story= _ "Raid the fief and teach them a lesson."
        [/part]
    [/story]

    map_generation=default
    [generator]
        name=default
        castle_size=2
        island_size=0
        map_width=30
        map_height=30
        iterations=1125
        hill_size=6
        max_lakes=40
        villages=25
        players=2
        min_lake_height=500
        lake_size=150
        river_frequency=20

        temperature_iterations=2000
        temperature_size=4

        roads=3
        road_windiness=3

        #list of common terrain types which come in at
        #different heights, from highest to lowest
        [height]
            height=600
            terrain=Mm
        [/height]
        [height]
            height=500
            terrain=Hh
        [/height]
        [height]
            height=100
            terrain=Gg
        [/height]
        [height]
            height=30
            terrain=Ds
        [/height]
        [height]
            height=5
            terrain=Ww
        [/height]
        [height]
            height=0
            terrain=Wo
        [/height]

        #water at cold temperatures becomes ice
        [convert]
            min_height=450
            max_temperature=20
            from=Ww, Wo
            to=Ai
        [/convert]

        #at low temperatures, snow appears
        [convert]
            min_height=450
            max_temperature=50
            from=Gg, Ds
            to=Aa
        [/convert]

        #hills at low temperatures get snow on them
        [convert]
            max_temperature=50
            from=Hh
            to=Ha
        [/convert]

        #swamp appears on low land, at moderate temperatures
        [convert]
            min_temperature=500
            max_temperature=700
            max_height=200
            from=Gg
            to=Ss
        [/convert]

        #forest appears at moderate temperatures
        [convert]
            min_temperature=300
            max_temperature=500
            from=Gg
            to=Gs^Fp
        [/convert]

        #desert appears at high temperatures
        [convert]
            min_temperature=900
            from=Gg
            to=Ds
        [/convert]

        #road costs
        [road_cost]
            terrain=Gg
            cost=10
            convert_to=Rr
        [/road_cost]

        [road_cost]
            terrain=Ds
            cost=25
            convert_to=Rr
        [/road_cost]

        [road_cost]
            terrain=Gs^Fp
            cost=20
            convert_to=Rr
        [/road_cost]

        [road_cost]
            terrain=Ww
            cost=50
            convert_to_bridge=Ww^Bw|, Ww^Bw/, Ww^Bw\
            convert_to=Ch
        [/road_cost]

        [road_cost]
            terrain=Hh
            cost=30
            convert_to=Rr
        [/road_cost]

        [road_cost]
            terrain=Mm
            cost=50
            convert_to=Rr
        [/road_cost]

        #road going through snow is covered over by
        #the snow (presumably the road was built when
        #it wasn't snowing)
        [road_cost]
            terrain=Aa
            cost=20
            convert_to=Aa
        [/road_cost]

        # MIN_COST_ROAD
        [road_cost]
            terrain=Re
            cost=2
            convert_to=Re
        [/road_cost]
        [road_cost]
            terrain=Rr
            cost=2
            convert_to=Rr
        [/road_cost]
        [road_cost]
            terrain=Ww^Bw|
            cost=2
            convert_to=Ww^Bw|
        [/road_cost]
        [road_cost]
            terrain=Ww^Bw/
            cost=2
            convert_to=Ww^Bw/
        [/road_cost]
        [road_cost]
            terrain=Ww^Bw\
            cost=2
            convert_to=Ww^Bw\
        [/road_cost]
        [road_cost]
            terrain=Ch
            cost=2
            convert_to=Ch
        [/road_cost]

        [village]
            terrain=Gg
            convert_to=Gg^Vh
            adjacent_liked=Gg, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
            rating=8
        [/village]
        [village]
            terrain=Ds
            convert_to=Dd^Vda
            rating=2
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
        [/village]

        #villages in forest are Elvish
        [village]
            terrain=Gs^Fp
            convert_to=Gg^Ve
            rating=4
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp, Gs^Fp, Gs^Fp
        [/village]
        [village]
            terrain=Hh
            convert_to=Hh^Vhh
            rating=4
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
        [/village]
        [village]
            terrain=Mm
            convert_to=Mm^Vhh
            rating=3
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
        [/village]

        #villages in snow
        [village]
            terrain=Aa
            convert_to=Aa^Vha
            rating=3
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
        [/village]

        [village]
            terrain=Aa^Fpa
            convert_to=Aa^Vha
            rating=3
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
        [/village]

        #swamp villages
        [village]
            terrain=Ss
            convert_to=Ss^Vhs
            rating=2
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
        [/village]

        #merfolk villages - give them low chance of appearing
        [village]
            terrain=Ww
            convert_to=Ww^Vm
            rating=1
            adjacent_liked=Ww, Ww
        [/village]

        [castle]
            valid_terrain=Gg, Gs^Fp, Hh
            min_distance=12
        [/castle]

        [naming]
            {VILLAGE_NAMES}
        [/naming]

        [village_naming]
            {VILLAGE_NAMES}
        [/village_naming]
    [/generator]

    {WF_CASTLE}

    [event]
        name=prestart
        [terrain_mask]
            x,y=1,1
            border=yes
            mask="{~add-ons/Wild_Frontiers/maps/30x30.mask}"
        [/terrain_mask]
    [/event]

    {WF_ROAD_PATH Rr Rr}

    {DEFAULT_MUSIC_PLAYLIST}
    {DEFAULT_SCHEDULE}

    [event]
        name=prestart

        [terrain]
            terrain=Ww
            [and]
                terrain=Wo*
                [filter_adjacent_location]
                    terrain=*^V*
                [/filter_adjacent_location]
            [/and]
        [/terrain]

        {WF_SCATTER_EMBELLISHMENTS G* ^Efm 7}
        {WF_SCATTER_EMBELLISHMENTS Re,Rb,Gd ^Gvs 5}
        {WF_SCATTER_EMBELLISHMENTS G*,D*,R*,Uu*,Ur* ^Es 2}
        #{WF_SCATTER_EMBELLISHMENTS G*,R*,Uu*,Ur* ^Em 2}
        {WF_SCATTER_EMBELLISHMENTS Uu* ^Emf 2}
        {WF_SCATTER_EMBELLISHMENTS D* ^Edp 2}
        {WF_SCATTER_EMBELLISHMENTS G*,R* ^Wm 0.25}
        {WF_SCATTER_EMBELLISHMENTS G*,D*,R*,H*,M*,Aa ^Em 5}
    [/event]

    {WF_SCENE_RAID}
    {WF_SEASON_DEBUG summer}
[/scenario]
