#textdomain wesnoth-Wild_Frontiers
[scenario]
	id=Spring_of_Raindrops
	next_scenario=Summer_of_Dreams
	name=_"Spring of Raindrops"
	map_data="{~add-ons/Wild_Frontiers/maps/WF_20x20.map}"
	turns={SEASON_LENGTH}
	victory_when_enemies_defeated=no
	#do_healing=yes

	# Usual schedule in the spring
	{DEFAULT_SCHEDULE}

	{DEFAULT_MUSIC_PLAYLIST}

	{SPRING_STORY}

	[event]
		name=prestart

		{SETUP_STATIC_VARIABLES}
		{SETUP_SEASON_VARIABLES spring _"Spring"}
	[/event]

	{YOU_ARE_SIDE1 yes}
	{ANIMALS_ARE_SIDE2 0}
	{NICE_OUTLAWS_ARE_SIDE3}
	{MEAN_OUTLAWS_ARE_SIDE4}
	{ORCS_ARE_SIDE5}
	{ELVES_ARE_SIDE6}
	{UNDEAD_ARE_SIDE7}
	{CALAMITY_IS_SIDE8}
	{FRIENDS_ARE_SIDE9}

	{NEW_OUTLAWS_RAIDS $jumps.spring_outlaws}
	{NEW_ORC_AND_UNDEAD_RAIDS $jumps.spring_raids LIMIT=1}	# 2-3 raids per year, on average
	{NEW_ELVES_RAIDS}
	{NEW_DWARVES_RAIDS}

	{QUOTA_YEAR}
	# ----- Prestart -----------------------------------------------------
	[event]
		name=prestart

		{RESTORE_MAP_AND_UNITS}

		# Adjust map terrain for spring (not so aesthetic)
		{SWITCH_TERRAIN_OVERLAY "Es" " "}	# Remove old stones
		{SWITCH_TERRAIN_OVERLAY "Em" " "}	# Old mushrooms die off
		{SWITCH_TERRAIN_OVERLAY "Gvs" " "}	# Old farmland
		{SWITCH_TERRAIN_OVERLAY "Vha" "Vh"}		# village snow melts
		# Remove farm for burnt down village
		# Will not work for CotF 3x3
		[terrain]
			terrain=Gg
			[and]
				terrain=Rb,Re
			[/and]
		[/terrain]
		# Restore crops around farms
		[store_locations]
			variable=village_store
			terrain=*^Vh
		[/store_locations]
		[for]
			array=village_store
			reverse=yes
			[do]
			{MODIFY_3X3_SPACE Rb^Gvs $village_store[$i].x $village_store[$i].y}
			[terrain]	# and change the terrain under the village to dirt
				x,y=$village_store[$i].x,$village_store[$i].y
				terrain=Rb
				layer=base
			[/terrain]
			[/do]
		[/for]
		{CLEAR_VARIABLE village_store}

		{SWITCH_TERRAIN_BASE "Aa" "Gg"}			# grass grows again
		{SWITCH_TERRAIN_BASE "Ha" "Hh"}			# hill snow melts
		{SWITCH_TERRAIN_OVERLAY "Fda" "Fds"}	# forest snow melts
		{SWITCH_TERRAIN_OVERLAY "Fma" "Fms"}	# forest snow melts
		{SWITCH_TERRAIN_OVERLAY "Fpa" "Fp"}		# forest snow melts
		{SWITCH_TERRAIN_BASE "Ms" "Mm"}			# lower mountain snow melts
		{SWITCH_TERRAIN_BASE "Cea" "Ce"}		# snow on encampments melts
		{SWITCH_TERRAIN_BASE "Kea" "Ke"}		# snow on encampments melts
		{SWITCH_TERRAIN_BASE "Coa" "Co"}		# snow on orc encampments melts
		{SWITCH_TERRAIN_BASE "Koa" "Ko"}		# snow on orc keep melts
		{SWITCH_TERRAIN_BASE "Cha" "Ch"}		# snow on castles melts
		{SWITCH_TERRAIN_BASE "Kha" "Kh"}		# snow on castles melts
		{SWITCH_BUILDING_BASE "Gg" "Re"}		# people trample the grass under buildings
		{SWITCH_TERRAIN_OVERLAY "Ybb" "Es"}		# Make sure fires get put out
		[terrain]								# except for the stables
			terrain=Gg
			layer=base
			[and]
				terrain=Re^Ys*
			[/and]
		[/terrain]
		[terrain]
			terrain=Gg
			layer=base
			[and]
				terrain=Re^Wm
			[/and]
		[/terrain]
		{SWITCH_TERRAIN_BASE "Wog" "Wo"}		# deep water blue again
		{SWITCH_TERRAIN_BASE "Ai" "Wog"}		# shallow water now deep & gray

		# Create lakes if there isn't any water on the map
		[if]
			[have_location]
				terrain=Wog
				count=0
			[/have_location]
		[then]
			{WF_RANDOM_PLACEMENT Gg Wog}
		[/then]
		[/if]

		[terrain]	# runoff widens streams, these are gray
			terrain="Wwg"
			[and]
				terrain=Gg,Gg^E*
			[/and]
			[filter_adjacent_location]
				terrain="Wog"
			[/filter_adjacent_location]
		[/terrain]
		{SCATTER_EMBELLISHMENTS Gg ^Em 4}	# New Mushrooms!
		{SCATTER_EMBELLISHMENTS Gg ^Efm 2}	# Flowers!
		#{SCATTER_EMBELLISHMENTS Gg ^Es 1}	# New Stones?!

		{WF_RANDOM_PLACEMENT Sm Ss}
		{WF_RANDOM_PLACEMENT Gg^Fms Gg}
		{WF_RANDOM_PLACEMENT Hh^Fms Hh}
		{WF_RANDOM_PLACEMENT Gg Gg^Fms}
		{WF_RANDOM_PLACEMENT Hh Hh^Fms}

		# Remove farm for burnt down village
		# Will not work for CotF 3x3
		#[terrain]
		#	terrain=Gg
		#	[and]
		#		terrain=Rb^Gvs
		#		[filter_adjacent_location]
		#			terrain=*^Vh
		#			count=0
		#		[/filter_adjacent_location]
		#	[/and]
		#[/terrain]

		#[modify_side]
		#	side=8
		#	team_name=calamity
		#	[ai]
		#		aggression=0.99			# very aggressive
		#		caution=0.01			# no retreat
		#		#leader_value=1.0
		#		#village_value=0.0
		#		#grouping=no
		#		#simple_targeting=yes
		#	[/ai]
		#[/modify_side]

		# Farms produce a few crops in the spring
		[modify_side]
			side=1
			village_gold=$farm_income.spring
			village_support=$farm_support.spring
		[/modify_side]

		{SPRING_RELATIONS}

		# Standard scenario menus/events
		{WORKERS_CAN_WORK}
		{ALLOW_UNRECRUIT}
		{ASSIGN_SPEAKER_ROLES}
		{SET_MAP_SIGNS}
		{SET_MAP_LABELS}
		{SET_UP_RELICS}
	[/event]


	[event]
		name=start

		# Tentacle of the Deep on ice or ground die.
		[kill]
			side=2
			type=Tentacle of the Deep
			[filter_location]
				[not]
					terrain=Ww*
				[/not]
			[/filter_location]
			animate=no
			fire_event=no
		[/kill]

		{SPRING_TUTORIAL}

		{STANDARD_OBJECTIVES spring}
		{DISPLAY_YEAR_AND _"Spring"}
	[/event]

	# End of season gradual change
	[event]
		name=new turn
		id=gradual_change
		[filter_condition]	# done this way so I can do math on the turn number
			[variable]
				name=turn_number
				numerical_equals="$({SEASON_LENGTH}-2)"
			[/variable]
		[/filter_condition]

		{WF_RANDOM_PLACEMENT Mm Md}
		{WF_RANDOM_PLACEMENT Gg Gs}
	[/event]

	# ----- In-scenario Events -------------------------------------------
	{TUTORIAL_MESSAGES}
	{LOW_GOLD_WARNINGS}
	{GENERIC_DIALOGUE}
	{LOYAL_AMLA}
	{TRADE_CARAVAN spring}
	{MARKET_CARAVAN spring}

	# Spring drowning
	[event]
		name=side turn end
		first_time_only=no

		[harm_unit]
			[filter]
				side=$side_number
				# Only units which cannot move in deep water can drown
				movement_cost=99
				[filter_location]
					terrain=Wo*
					[filter_adjacent_location]
						terrain=Wo*
						count=6
					[/filter_adjacent_location]
				[/filter_location]
			[/filter]
			amount=4
			kill=yes
			animate=yes
		[/harm_unit]
	[/event]

	# ----- Defeat & Victory Conditions ----------------------------------
	{DEFEAT_HERO_DIES}
	{DEFEAT_BANKRUPTCY}

	{END_OF_SEASON}
	{CAMPAIGN_VICTORY}

	# ----- Clean-up -----------------------------------------------------
	[event]
		name=wf_victory

		[modify_unit]
			[filter]
				side=5
				canrecruit=yes
			[/filter]
			role=orc_leader
		[/modify_unit]
		[modify_unit]
			[filter]
				side=5,8
				canrecruit=yes
			[/filter]
			canrecruit=no
			{IS_HERO}
			[object]
				[effect]
					apply_to=loyal
				[/effect]
			[/object]
			goto_x=0
			goto_y=0
		[/modify_unit]

		{CLEAR_VARIABLE quota}
		{STORE_MAP_AND_UNITS}
		{WF_CLEANUP_MENU}
	[/event]

	{WF_RAND_CHOICE_EVENT}
	{WF_DIPLOMACY}
	{WF_MISC_EVENTS}
	{WF_SEASON_DEBUG spring}
[/scenario]
