#textdomain wesnoth-Wild_Frontiers

#define WF_SPAWN_SIDE SIDE KEEPS
    [gold]
        side=1
        amount={ON_DIFFICULTY 150 188 219} # *2 *1.5 *1.25
    [/gold]
    [gold]
        side={SIDE}
        amount={ON_DIFFICULTY 75 125 175}
    [/gold]
    # keep_locs defined elsewhere
    {RANDOM_VAR rnd_i 0.."$(${KEEPS}.length-1)"}

    {RANDOM_VAR rnd_type {FACTION_LEADER_LOYALISTS}}
    {VARIABLE recruit_type {FACTION_RECRUIT_LOYALISTS}}

    [unit]
        canrecruit=yes
        passable=yes
        placement=map
        random_traits=no
        side={SIDE}
        type=$rnd_type
        x,y=${KEEPS}[$rnd_i].x,${KEEPS}[$rnd_i].y
    [/unit]

    [modify_side]
        side={SIDE}
        hidden=no
        recruit=$recruit_type
    [/modify_side]

    {CAPTURE_VILLAGES {SIDE} ${KEEPS}[$rnd_i].x ${KEEPS}[$rnd_i].y 8}

    # Prepare keeps for next side
    [store_locations]
        find_in={KEEPS}
        [not]
            x,y=${KEEPS}[$rnd_i].x,${KEEPS}[$rnd_i].y
        [/not]
        variable={KEEPS}
    [/store_locations]
    {CLEAR_VARIABLE rnd_i}

    {CLEAR_VARIABLE rnd_type}
    {CLEAR_VARIABLE recruit_type}
#enddef

[scenario]
    name= _ "Traitors"
    id=Traitors
    next_scenario=Traitors

    [story]
        [part]
            story= _ "What now? Must I do everything?!"
        [/part]
    [/story]

    map_generation=lua
    [generator]
        id="cavegen"
        config_name="Lua Cave Generator"
        create_map = << return wesnoth.require("~add-ons/Wild_Frontiers/lua/cave_map_generator").generate_map(...) >>

        village_density=0

        terrain_wall = "Xos"
        terrain_clear = "Iwr"
        terrain_keep = "Kud"
        terrain_castle = "Cud"
        terrain_village = "Iwr^Vud"

        # Bottom right inside corner is 24,24
        map_width=26
        map_height=26

        transform=flip_x,flip_y,flip_xy
        #transform=flip_x
        #transform=flip_y
        #transform=flip_xy
        transform_chance=50

        [chamber]
            id=road_east
            x=24
            y=10-14
            size=2
        [/chamber]
        [chamber]
            id=road_west
            x=1
            y=10-14
            size=2
        [/chamber]
        [chamber]
            id=road_south
            x=10-14
            y=24
            size=2
        [/chamber]
        [chamber]
            id=road_north
            x=10-14
            y=1
            size=2
        [/chamber]
        [chamber]
            id=crossroads
            x=10-14
            y=10-14
            size=2
            {PASSAGE_LAZY road_east 1}
            {PASSAGE_LAZY road_west 1}
            {PASSAGE_LAZY road_south 1}
            {PASSAGE_LAZY road_north 1}
        [/chamber]
        [chamber]
            id=mini_01
            x=4-6,4-6
            y=4-6,19-21
            {PLACE_CASTLE 1}
            {PASSAGE_LAZY road_east 1}
            {PASSAGE_LAZY road_west 1}
            {PASSAGE_LAZY road_south 1}
            {PASSAGE_LAZY road_north 1}
            {PASSAGE_LAZY crossroads 2}
        [/chamber]
        [chamber]
            id=mini_02
            x=19-21
            y=19-21
            {PLACE_CASTLE 2}
            {PASSAGE_LAZY crossroads 2}
        [/chamber]
        [chamber]
            id=mini_03
            x=19-21
            y=4-6
            {PLACE_CASTLE 3}
            {PASSAGE_LAZY crossroads 2}
        [/chamber]
    [/generator]

    [side]
        side=1
        controller=human
        team_name=settlers
        user_team_name=_"Settlers"
        fog=no
        shroud=no
        {FLAG_VARIANT loyalist}
        recruit= #Peasant_no_Advance,Woodsman_no_Advance,Ruffian_no_Advance,Peasant Workers
        gold=0					# side gold set in first scenario
        income=-2				# cancel out the base_income
        save_id=Hero
        persistent=yes
        no_leader=yes
        defeat_condition=no_leader_left
    [/side]

    [side]
        side=2
        controller=ai
        recruit=
        team_name=traitors
        user_team_name=_"Traitors"
        gold=0
        income=0
        no_leader=yes
        hidden=yes
    [/side]

    [side]
        side=3
        controller=ai
        recruit=
        team_name=traitors
        user_team_name=_"Traitors"
        gold=0
        income=0
        no_leader=yes
        hidden=yes
    [/side]

    {TURNS 36 36 36}
    victory_when_enemies_defeated=yes

    {SCENARIO_MUSIC       casualties_of_war.ogg}
    {EXTRA_SCENARIO_MUSIC battle.ogg}
    {EXTRA_SCENARIO_MUSIC siege_of_laurelmor.ogg}

    {INDOORS}

    [event]
        name=prestart

        # Clear walls around castle
        [terrain]
            terrain=Iwr
            [and]
                terrain=Xos
                [filter_adjacent_location]
                    terrain=Cud
                [/filter_adjacent_location]
            [/and]
        [/terrain]

        # Wall light
        [random_placement]
            {NUM_ITEMS 15}
            variable=random_placement_location
            allow_less=yes
            min_distance=3
            [filter_location]
                terrain=Xos
                include_borders=no
                [filter_adjacent_location]
                    terrain=X*
                    adjacent=s
                    count=0
                    include_borders=no
                [/filter_adjacent_location]
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=Xos^Efs
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Remove wall light at the bottom of the map
        [terrain]
            terrain=Xos
            [and]
                terrain=Xos^Efs
                [filter_adjacent_location]
                    terrain=Iwr,Kud,Cud,Iwr^Vud
                    count=0
                [/filter_adjacent_location]
            [/and]
        [/terrain]

        # Wood rug
        [random_placement]
            {NUM_ITEMS 15}
            variable=random_placement_location
            allow_less=yes
            min_distance=0
            [filter_location]
                terrain=Iwr
                include_borders=no
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=Icn
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Broken wood
        [random_placement]
            {NUM_ITEMS 15}
            variable=random_placement_location
            allow_less=yes
            min_distance=0
            [filter_location]
                terrain=Iwr
                include_borders=no
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=Ior
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

#ifver WESNOTH_VERSION >= 1.15.0
        # Ancient stone
        [random_placement]
            {NUM_ITEMS 8}
            variable=random_placement_location
            allow_less=yes
            min_distance=3
            [filter_location]
                terrain=Iwr
                include_borders=no
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=Ias
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}
#endif

        # Villages
        [random_placement]
            {NUM_ITEMS 8}
            variable=random_placement_location
            allow_less=yes
            min_distance=3
            [filter_location]
                terrain=I*
                include_borders=no
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=^Vud
                    layer=overlay
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Dwarves castle
        [random_placement]
            {NUM_ITEMS 4}
            variable=random_placement_location
            allow_less=yes
            min_distance=3
            [filter_location]
                terrain=I*
                include_borders=no
                [filter_adjacent_location]
                    terrain=Cud
                    count=0
                [/filter_adjacent_location]
            [/filter_location]
            [command]
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=Cud
                [/terrain]
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}

        # Brazier
        [random_placement]
            {NUM_ITEMS 8}
            variable=random_placement_location
            allow_less=yes
            min_distance=3
            [filter_location]
                terrain=I*
                include_borders=no
                [filter_adjacent_location]
                    terrain=Xos
                [/filter_adjacent_location]
            [/filter_location]
            [command]
                {RANDOM_VAR rnd_brazier (^Eb,^Ebn,^Ebn)}
                [terrain]
                    x,y=$random_placement_location.x,$random_placement_location.y
                    terrain=$rnd_brazier
                    layer=overlay
                [/terrain]
                {CLEAR_VARIABLE rnd_brazier}
            [/command]
        [/random_placement]
        {CLEAR_VARIABLE random_placement_location}
    [/event]

    [event]
        name=prestart

        {VARIABLE quota.outlaws 1} # Needed for victory

        # Side 1 stuff
        [modify_side]
            side=1
            income=0
        [/modify_side]

        # Side gold
        [store_gold]
            side=1
            variable=stash_gold
        [/store_gold]
        {VARIABLE_OP stash_gold multiply -1}
        [gold]
            side=1
            amount=$stash_gold
        [/gold]
        {VARIABLE_OP stash_gold multiply -1}

        # Unstore the hero
        [store_starting_location]
            side=1
            variable=starting_one
        [/store_starting_location]

        [unstore_unit]
            variable=old_hero_store
            x,y=$starting_one.x,$starting_one.y
        [/unstore_unit]
        {CAPTURE_VILLAGES 1 $starting_one.x $starting_one.y 5}

        # Enemy sides stuff

        # Store map keeps and exclude side 1's keep
        [store_locations]
            variable=keep_locs
            terrain=K*^*
            [not]
                x,y=$starting_one.x,$starting_one.y
            [/not]
        [/store_locations]
        {CLEAR_VARIABLE starting_one}

        {WF_SPAWN_SIDE 2 keep_locs}

        {RANDOM_VAR rnd_r "1..10"}
        [if]
            {VARIABLE_CONDITIONAL rnd_r less_than 2}
            [then]
                {WF_SPAWN_SIDE 3 keep_locs}
            [/then]
        [/if]
        {CLEAR_VARIABLE rnd_r}

        # Done with enemy keeps
        {CLEAR_VARIABLE keep_locs}
    [/event]

    [event]
        name=start

        [unit]
            passable=yes
            placement=leader
            random_traits=yes
            side=1
            type=Fencer
        [/unit]
        [unit]
            passable=yes
            placement=leader
            random_traits=yes
            side=1
            type=Heavy Infantryman
        [/unit]
        [unit]
            passable=yes
            placement=leader
            random_traits=yes
            side=1
            type=Bowman
        [/unit]
        [unit]
            passable=yes
            placement=leader
            random_traits=yes
            side=1
            type=Spearman
        [/unit]

        [message]
            side=1
            type=Fencer
            message=_"My lord, these traitors have risen against you."
        [/message]
        [message]
            id=Hero
            message=_"I will not tolerate this treacherous treason. Lay down your arms now!"
        [/message]
        [message]
            side=2
            message=_"Never!"
        [/message]
        [message]
            side=3
            message=_"We shall not surrender!"
        [/message]
        [message]
            id=Hero
            message=_"Very well, I sentence you to death."
        [/message]

        [store_unit]
            [filter]
                canrecruit=yes
                [filter_side]
                    [enemy_of]
                        side=1
                    [/enemy_of]
                [/filter_side]
            [/filter]
            variable=store_enemies
        [/store_unit]

        [foreach]
            array=store_enemies
            [do]
                [set_variables]
                    name=objective_arr
                    mode=append
                    [value]
                        condition=win
                        description= _ "Defeat enemy leader: $this_item.name|."
                        [show_if]
                            [have_unit]
                                id=$this_item.id
                            [/have_unit]
                        [/show_if]
                    [/value]
                [/set_variables]
            [/do]
        [/foreach]

        [objectives]
            side=1
            [insert_tag]
                name=objective
                variable=objective_arr
            [/insert_tag]
            [objective]
                description= _ "Death of Hero"
                condition=lose
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=100
            [/gold_carryover]
        [/objectives]
        {CLEAR_VARIABLE store_enemies}
        {CLEAR_VARIABLE objective_arr}
    [/event]

    [event]
        name=enemies defeated

        [gold]
            side=1
            amount={ON_DIFFICULTY 1500 1250 1000}
        [/gold]
        [sound]
            name="gold.ogg"
        [/sound]

        [message]
            speaker=Hero
            message= _ "Someone was funding these traitors!"
        [/message]

        [fire_event]
            name=wf_victory
        [/fire_event]

        [endlevel]
            result=victory
            bonus=yes
            carryover_percentage=100
            linger_mode=no
            next_scenario=$wf_vars.next_scenario
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Hero
        [/filter]
        [message]
            speaker=Hero
            message= _ "Gahahh..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=time over
        [message]
            speaker=Hero
            message= _ "Oh no! Their foreign reinforcment has arrived."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=wf_victory

        # restore gold
        [gold]
            side=1
            amount=$stash_gold
        [/gold]
        {CLEAR_VARIABLE stash_gold}

        # heal/unpoison Hero
        [heal_unit]
            [filter]
                id=Hero
            [/filter]
            amount=full
            moves=full
            restore_attacks=yes
            restore_statuses=yes
            animate=no
        [/heal_unit]
        [clear_variable]
            name=heal_amount
        [/clear_variable]

        # Save the upgraded hero
        [store_unit]
            variable=new_hero_store
            mode=always_clear
            kill=yes # otherwise they will also appear on recall list
            [filter]
                id=Hero
            [/filter]
        [/store_unit]
        {VARIABLE new_hero_store.x $old_hero_store.x}
        {VARIABLE new_hero_store.y $old_hero_store.y}
        #{CLEAR_VARIABLE new_hero_store.status.poisoned}
        #{CLEAR_VARIABLE new_hero_store.status.slowed}
        #{CLEAR_VARIABLE new_hero_store.status.uncovered}

        #Append new hero to original map units
        [set_variables]
            name=unit_store
            mode=append
            to_variable=new_hero_store
        [/set_variables]

        {CLEAR_VARIABLE old_hero_store}
        {CLEAR_VARIABLE new_hero_store}

        # Save the recruited units
        [store_unit]
            variable=crew_store
            mode=always_clear
            kill=yes # otherwise they will also appear on recall list
            [filter]
                side=1
            [/filter]
        [/store_unit]
        [for]
            array=crew_store
            reverse=yes
            [do]
                {VARIABLE crew_store[$i].x recall}
                {VARIABLE crew_store[$i].y recall}
                #{CLEAR_VARIABLE crew_store[$i].status.poisoned}
                #{CLEAR_VARIABLE crew_store[$i].status.slowed}
                #{CLEAR_VARIABLE crew_store[$i].status.uncovered}
                [set_variables]
                    name=unit_store
                    mode=append
                    to_variable=crew_store[$i]
                [/set_variables]
            [/do]
        [/for]

        {CLEAR_VARIABLE crew_store}
        {CLEAR_VARIABLE quota}
    [/event]

    [event]
        # Event added just in case of :n in debug mode.
        name=victory

        # This variable gets cleared in wf_victory.
        # This way we know if this victory was fired because of :n
        [if]
            {VARIABLE_CONDITIONAL quota.outlaws not_equals $null}
            [then]
                {NARRATOR_SAYS _"Debug mode :n"}
                [fire_event]
                    name=wf_victory
                [/fire_event]
                [endlevel]
                    result=victory
                    bonus=no
                    carryover_percentage=100
                    linger_mode=no
                    next_scenario=$wf_vars.next_scenario
                [/endlevel]
            [/then]
        [/if]
    [/event]

    [event]
        name=last breath
        id=enemy_cost
        first_time_only=no

        [gold]
            side=$second_unit.side
            amount="$(floor($unit.cost * 13 / 100.0))"
        [/gold]
    [/event]

    {AMLA_EXTRA}
    {HEAL_RECALL}
    [event]
        name=side 1 turn refresh
        first_time_only=no

        {FIRE_EVENT heal_recall_list}
    [/event]

    [event]
        name=recruit
        first_time_only=no
        [filter]
            [not]
                side=1
            [/not]
        [/filter]
#ifdef EASY
        {VARIABLE autoadv no}
#endif
#ifdef NORMAL
        {RANDOM_VAR autoadv (no,no,no,no,no,no,no,no,no,yes)}
#endif
#ifdef HARD
        {RANDOM_VAR autoadv (no,no,no,no,yes)}
#endif
        [if]
            [and]
                {VARIABLE_CONDITIONAL autoadv boolean_equals yes}
                {VARIABLE_CONDITIONAL unit.level less_than 2}
                {VARIABLE_CONDITIONAL wf_vars.season greater_than_equal_to 4}
            [/and]
            [then]
                [modify_unit]
                    [filter]
                        id=$unit.id
                    [/filter]
                    experience = "$($this_unit.max_experience)"
                [/modify_unit]
            [/then]
        [/if]
        {CLEAR_VARIABLE autoadv}
    [/event]
    {WF_SEASON_DEBUG winter}
[/scenario]
