#textdomain wesnoth-Cities_of_the_Frontier
# Terrains and terrain graphics for CotF

# Finally fixed to work (hopefully) with the multi-hex terrain system.
# For each building we have two terrains: the "main" terrain and the "outbuilding" terrain.
# This is so that I can distinguish between two identical buildings that are next to each other,
# even though there's really no reason for anyone to want to do that.
#define BLDG_2X2_TERRAIN NAME ID CODE
	[terrain_type]
		symbol_image=flat/dirt
		id={ID}
		name={NAME}
		string=^{CODE}
		aliasof=Gt
		editor_group=cotf
	[/terrain_type]
	[terrain_type]
		symbol_image=flat/dirt
		id={ID}_outbuilding
		name={NAME}
		string=^{CODE}o
		aliasof=Gt
		editor_group=cotf
	[/terrain_type]
	[terrain_graphics]
		[tile]
			x,y=0,0
			# match anything, Wesnoth can't handle negative coordinates here, so I need
			# to start above and to the left of the tile I want
		[/tile]
		[tile]
			x,y=0,1
			type=*^{CODE}o
		[/tile]
		[tile]
			x,y=1,1
			type=*^{CODE}o
		[/tile]
		[tile]
			x,y=2,1
			type=*^{CODE}o
		[/tile]
		[tile]
			x,y=1,0
			type=*^{CODE}
		[/tile]
		[image]
			name="{ID}.png"
		[/image]
		probability=100
	[/terrain_graphics]
#enddef

# ----- Project site -----------------------------------------------------
# this terrain helps avoid overlapping projects
[terrain_type]
	symbol_image=flat/dirt
	id=work_site
	name=_"Work site"
	string=Yw
	aliasof=Gt
	editor_group=cotf
[/terrain_type]
{TERRAIN_BASE Yw flat/dirt}		# w for work site

# ----- Buildings --------------------------------------------------------
{BLDG_2X2_TERRAIN _"Blacksmith" blacksmith Yf}
{BLDG_2X2_TERRAIN _"Bowyer" bowyer Yb}
{BLDG_2X2_TERRAIN _"Stables" stables Ys}
{BLDG_2X2_TERRAIN _"Library" library Yl}
{BLDG_2X2_TERRAIN _"Armorer" armorer Ya}

# ----- Hero's keep ------------------------------------------------------
[terrain_type]
	symbol_image=castle/castle-tile
	id=hero_keep
	name=_"Keep"
	string=^Yk
	aliasof=_bas
    recruit_from=yes
    recruit_onto=yes
	editor_group=cotf
[/terrain_type]
#{OVERLAY *^Yk ("../scenery/keep_flag-[1~4].png:150")}

# ----- Fire -------------------------------------------------------------
# Fire (for burning buildings) is defined as a new terrain type so that it
# both appears behind units and can be removed. The images and terrain_graphics
# tag are adapted from the core Wesnoth png's and macro.
[terrain_type]
	symbol_image=flat/dirt
	id=burning_building
	name=_"Burning Building"
	string=^Ybb
	aliasof=_bas
	editor_group=cotf
[/terrain_type]
{OVERLAY *^Ybb ("../scenery/burning[1~8].png:140")}
