#textdomain wesnoth-Wild_Frontiers

#define MISSION_EVENTS_LOYALISTS
	[event]
		name=diplomacy_loyalists
		id=diplomacy_loyalists
		first_time_only=yes
		{WF_DIPLOMACY_LOYALISTS_POST}

		# Level 1
		{VARIABLE mercs "Junior Commander,Merman Fighter,Merman Hunter,Mermaid Initiate,Young Ogre"}
		[if]
			{VARIABLE_CONDITIONAL diplomacy.loyalists_state greater_than_equal_to 10}
		[then]
			[allow_recruit]
				side=1
				type=$mercs
			[/allow_recruit]
		[/then]
		[else]
			[disallow_recruit]
				side=1
				type=$mercs
			[/disallow_recruit]
		[/else]
		[/if]

		[if]
			{VARIABLE_CONDITIONAL diplomacy.loyalists_state greater_than 10}
		[then]
			# Level 2
			{VARIABLE mercs "Horseman Commander,Infantry Lieutenant,Merman Warrior,Merman Spearman,Merman Netcaster,Mermaid Priestess,Mermaid Enchantress,Ogre,Javelineer,Lieutenant,Red Mage,White Mage,Lancer,Shock Trooper,Knight,Duelist,Longbowman,Swordsman,Pikeman,Dragoon"}
		[/then]
		[/if]
		{WF_DIPLOMACY_SPAWN 3 loyalists $mercs}
		{CLEAR_VARIABLE mercs}
	[/event]

	# Mission events: loyalists {
	{DIPLOMACY_MISSION diplomacy.loyalists_mission 1 (
	# Clear hills/mountains. loyalists mission 1
	[event]
		name=action_hills
		id=diplomacy_loyalists_mission_1
		first_time_only=no
		[filter_condition]
			{VARIABLE_CONDITIONAL diplomacy.faction equals "loyalists"}
			{VARIABLE_CONDITIONAL diplomacy.fee greater_than 0}
			{VARIABLE_CONDITIONAL diplomacy.loyalists_mission numerical_equals 1}
		[/filter_condition]

		{VARIABLE_OP diplomacy.loyalists sub $weapon.hills}

		[if]
			{VARIABLE_CONDITIONAL weapon.action equals "build"}
		[then]
			[scroll_to_unit]
				id=$unit.id
			[/scroll_to_unit]
			{UNIT_SAYS _"Milord, for some reason, I feel like the loyalists won't be happy with this..."}
		[/then]
		[/if]
	[/event]
	)}

	{DIPLOMACY_MISSION diplomacy.loyalists_mission 2 (
	# build farm: loyalists mission 2
	[event]
		name=action_farm
		id=diplomacy_loyalists_mission_2
		first_time_only=no
		[filter_condition]
			{VARIABLE_CONDITIONAL diplomacy.faction equals "loyalists"}
			{VARIABLE_CONDITIONAL diplomacy.fee greater_than 0}
			{VARIABLE_CONDITIONAL diplomacy.loyalists_mission numerical_equals 2}
		[/filter_condition]

		{VARIABLE_OP diplomacy.loyalists add $weapon.farm}
	[/event]
	)}

	{DIPLOMACY_MISSION diplomacy.loyalists_mission 3 (
	# build fort: loyalists mission 3
	[event]
		name=action_fort
		id=diplomacy_loyalists_mission_3
		first_time_only=no
		[filter_condition]
			{VARIABLE_CONDITIONAL diplomacy.faction equals "loyalists"}
			{VARIABLE_CONDITIONAL diplomacy.fee greater_than 0}
			{VARIABLE_CONDITIONAL diplomacy.loyalists_mission numerical_equals 3}
		[/filter_condition]

		{VARIABLE_OP diplomacy.loyalists add $weapon.fort}
	[/event]
	)}

	{DIPLOMACY_MISSION diplomacy.loyalists_mission 4 (
	# build moats: loyalists mission 4
	[event]
		name=action_moat
		id=diplomacy_loyalists_mission_4
		first_time_only=no
		[filter_condition]
			{VARIABLE_CONDITIONAL diplomacy.faction equals "loyalists"}
			{VARIABLE_CONDITIONAL diplomacy.fee greater_than 0}
			{VARIABLE_CONDITIONAL diplomacy.loyalists_mission numerical_equals 4}
		[/filter_condition]

		{VARIABLE_OP diplomacy.loyalists add $weapon.moat}
	[/event]
	)}

	{DIPLOMACY_MISSION diplomacy.loyalists_mission 5 (
	# Kill outlaws. Loyalists mission 5
	[event]
		name=die
		id=diplomacy_loyalists_mission_5
		first_time_only=no
		[filter]
			side=3,4
		[/filter]
		[filter_second]
			side=1
		[/filter_second]
		[filter_condition]
			{VARIABLE_CONDITIONAL diplomacy.faction equals "loyalists"}
			{VARIABLE_CONDITIONAL diplomacy.fee greater_than 0}
			{VARIABLE_CONDITIONAL diplomacy.loyalists_mission numerical_equals 5}
		[/filter_condition]

		[if]
			{VARIABLE_CONDITIONAL unit.level numerical_equals 0}
		[then]
			{VARIABLE_OP diplomacy.loyalists sub 1}
		[/then]
		[/if]
		{VARIABLE_OP diplomacy.loyalists sub $unit.level}
	[/event]
	)}
	# End mission events: loyalists }
#enddef

#define ACTION_LOYALISTS
		{VARIABLE diplomacy.faction "loyalists"}
		[switch]
			variable=diplomacy.loyalists_mission
			# mission 1 is the else
			[case]
				#Loyalists Mission 5
				value=5
				{VARIABLE diplomacy.mission 5}
				{VARIABLE diplomacy.action "Loyalists quest 5/5
Loyalists want you to capture bandits."}
				{VARIABLE diplomacy.fee 100}
				{VARIABLE diplomacy.required 10}
			[/case]
			[case]
				#Loyalists Mission 4
				value=4
				{VARIABLE diplomacy.mission 4}
				{VARIABLE diplomacy.action "Loyalists quest 4/5
Loyalists want you to dig more moats."}
				{VARIABLE diplomacy.fee 100}
				{VARIABLE diplomacy.required 10}
			[/case]
			[case]
				#Loyalists Mission 3
				value=3
				{VARIABLE diplomacy.mission 3}
				{VARIABLE diplomacy.action "Loyalists quest 3/5
Loyalists want you to build more encampments."}
				{VARIABLE diplomacy.fee 100}
				{VARIABLE diplomacy.required 10}
			[/case]
			[case]
				#Loyalists Mission 2
				value=2
				{VARIABLE diplomacy.mission 2}
				{VARIABLE diplomacy.action "Loyalists quest 2/5
Loyalists want you to build more farms."}
				{VARIABLE diplomacy.fee 100}
				{VARIABLE diplomacy.required 5}
			[/case]
			[else]
				#Loyalists Mission 1
				{VARIABLE diplomacy.loyalists_mission 1}
				{VARIABLE diplomacy.mission 1}
				{VARIABLE diplomacy.action "Loyalists quest 1/5
Loyalists want you to clear hills or mountains."}
				{VARIABLE diplomacy.fee 100}
				{VARIABLE diplomacy.required 10}
			[/else]
		[/switch]
		{VARIABLE diplomacy.current $diplomacy.loyalists}
		{VARIABLE_OP diplomacy.current multiply -1}
		{VARIABLE diplomacy.turns 0}
		{MISSION_EVENTS_LOYALISTS}
		{WF_DIPLOMACY_LOYALISTS_PRE}
#enddef

#define	WF_DIPLOMACY_LOYALISTS_PRE
		[switch]
			variable=diplomacy.loyalists_mission

		#Pre Mission 1
			[case]
				value=1
		{PRE_MISSION_TUTORIAL}
		{ADVISOR_SAYS _"Have you decided on a potential ally, milord?"}
		{HERO_SAYS _"Indeed. Mage, prepare connections with the loyalist ambassador."}
		{MAGE_SAYS _"As you wish, my lord."}
		{NARRATOR_SAYS _"A bright glow emits from the staff of the mage, lighting up the luxurious room that was built specifically to communicate with the representatives of different races."}
		{WF_SPAWN_ALLY 3 (Royal Warrior) (profile=portraits/humans/marshal-2.png)}

		{ALLY_SAYS _"Greetings, Lord $wf_vars.hero_name|."}
		{HERO_SAYS _"I thank you for answering our call, my lord. We seek your assistance."}
		{ALLY_SAYS _"Our troops find it difficult to naviagte these uneven terrains. Clear them for us, Lord $wf_vars.hero_name|."}
		#{NARRATOR_SAYS _"To improve your relation with the loyalists, you need level $diplomacy.required| hills or mountains."}
		{WF_CLEANUP_ALLY}
			[/case]

		#Pre Mission 2
			[case]
				value=2
		{HERO_SAYS _"Mage, prepare connections with the loyalist ambassador."}
		{MAGE_SAYS _"As you wish, my lord."}
		{NARRATOR_SAYS _"A bright glow emits from the staff of the mage, lighting up the luxurious room that was built specifically to communicate with the representatives of different races."}
		{WF_SPAWN_ALLY 3 (Royal Warrior) (profile=portraits/humans/marshal-2.png)}
		{ALLY_SAYS _"Your village lacks the support our troops seek. Expand your town size, Lord $wf_vars.hero_name|."}
		#{NARRATOR_SAYS _"To improve your relation with the loyalists, you need build $diplomacy.required| more farms."}
		{WF_CLEANUP_ALLY}
			[/case]

		#Pre Mission 3
			[case]
				value=3
		{HERO_SAYS _"Mage, prepare connections with the loyalist ambassador."}
		{MAGE_SAYS _"As you wish, my lord."}
		{NARRATOR_SAYS _"A bright glow emits from the staff of the mage, lighting up the luxurious room that was built specifically to communicate with the representatives of different races."}
		{WF_SPAWN_ALLY 3 (Royal Warrior) (profile=portraits/humans/marshal-2.png)}
		{ALLY_SAYS _"Our troops are exposed without the proper fortifications, Lord $wf_vars.hero_name|. Build more barracks for us."}
		#{NARRATOR_SAYS _"To improve your relation with the loyalists, you need build $diplomacy.required| more forts."}
		{WF_CLEANUP_ALLY}
			[/case]

		#Pre Mission 4
			[case]
				value=4
		{HERO_SAYS _"Mage, prepare connections with the loyalist ambassador."}
		{MAGE_SAYS _"As you wish, my lord."}
		{NARRATOR_SAYS _"A bright glow emits from the staff of the mage, lighting up the luxurious room that was built specifically to communicate with the representatives of different races."}
		{WF_SPAWN_ALLY 3 (Royal Warrior) (profile=portraits/humans/marshal-2.png)}
		{ALLY_SAYS _"We need to keep our enemies at bay. Place a moat betwixt us and <i>them</i>, Lord $wf_vars.hero_name|."}
		#{NARRATOR_SAYS _"To improve your relation with the loyalists, you need to dig $diplomacy.required| moats."}
		{WF_CLEANUP_ALLY}
			[/case]

		#Pre Mission 5
			[case]
				value=5
		{HERO_SAYS _"Mage, prepare connections with the loyalist ambassador."}
		{MAGE_SAYS _"As you wish, my lord."}
		{NARRATOR_SAYS _"A bright glow emits from the staff of the mage, lighting up the luxurious room that was built specifically to communicate with the representatives of different races."}
		{WF_SPAWN_ALLY 3 (Royal Warrior) (profile=portraits/humans/marshal-2.png)}
		{ALLY_SAYS _"Those bandits are disrupting the supplies between us and the kingdom. We grant you leave to arrest them."}
		#{NARRATOR_SAYS _"To improve your relation with the loyalists, you need to kill $diplomacy.required| bandits."}
		{WF_CLEANUP_ALLY}
			[/case]
		[/switch]
#enddef

#define	WF_DIPLOMACY_LOYALISTS_POST
		[switch]
			variable=diplomacy.loyalists_mission

		#Post Mission 1
			[case]
				value=1
		{WF_SPAWN_ALLY 3 (Royal Warrior) (profile=portraits/humans/marshal-2.png)}
		{ALLY_SAYS _"The kingdom is in your gratitude, Lord $wf_vars.hero_name|."}
		{WF_CLEANUP_ALLY}
			[/case]

		#Post Mission 2
			[case]
				value=2
		{WF_SPAWN_ALLY 3 (Royal Warrior) (profile=portraits/humans/marshal-2.png)}
		{ALLY_SAYS _"The kingdom is in your gratitude, Lord $wf_vars.hero_name|."}
		{WF_CLEANUP_ALLY}
			[/case]

		#Post Mission 3
			[case]
				value=3
		{WF_SPAWN_ALLY 3 (Royal Warrior) (profile=portraits/humans/marshal-2.png)}
		{ALLY_SAYS _"The kingdom is in your gratitude, Lord $wf_vars.hero_name|."}
		{WF_CLEANUP_ALLY}
			[/case]

		#Post Mission 4
			[case]
				value=4
		{WF_SPAWN_ALLY 3 (Royal Warrior) (profile=portraits/humans/marshal-2.png)}
		{ALLY_SAYS _"The kingdom is in your gratitude, Lord $wf_vars.hero_name|."}
		{WF_CLEANUP_ALLY}
			[/case]

		#Post Mission 5
			[case]
				value=5
		{WF_SPAWN_ALLY 3 (Royal Warrior) (profile=portraits/humans/marshal-2.png)}
		{ALLY_SAYS _"The kingdom is in your gratitude, Lord $wf_vars.hero_name|."}
		{WF_CLEANUP_ALLY}
		{VARIABLE wf_vars.work_faster yes}
		{VARIABLE_OP diplomacy.loyalists_state add 5}
			[/case]
		[/switch]

		#{HERO_SAYS _""}
		#{ADVISOR_SAYS _""}
		#{CYNIC_SAYS _""}
		#{FOOL_SAYS _""}
		#{ALLY_SAYS _""}
		#{MAGE_SAYS _""}
		#{NARRATOR_SAYS _""}

		{WF_CLEANUP_ALLY}
#enddef
