#textdomain wesnoth-Wild_Frontiers

#define WF_SCENE_DRAGON
    {SUB_SIDES no yes}

    {TURNS 36 36 36}
    victory_when_enemies_defeated=no

    [event]
        name=prestart

        {STASH_GOLD}

        # Unstore the hero
        [store_starting_location]
            side=1
            variable=starting_loc
        [/store_starting_location]

        [unstore_unit]
            variable=old_hero_store
            x,y=$starting_loc.x,$starting_loc.y
        [/unstore_unit]
        {CLEAR_VARIABLE starting_loc}

        # Enemy sides stuff

        # Store map keeps and exclude side 1's keep
        [store_starting_location]
            side=1
            variable=starting_loc
        [/store_starting_location]
        [store_locations]
            variable=keep_locs
            terrain=K*^*
            [not]
                x,y=$starting_loc.x,$starting_loc.y
            [/not]
        [/store_locations]
        {CLEAR_VARIABLE starting_loc}

        # Side 2 stuff
        {VARIABLE rnd_team "Dragon"}
        {VARIABLE leader_type "Skeletal Dragon,Fire Dragon"}
        {VARIABLE recruit_type "Giant Scorpling"}

        # Don't calculate cost
        {WF_SPAWN_SIDE 2 keep_locs no yes}

        {CLEAR_VARIABLE leader_type}
        {CLEAR_VARIABLE recruit_type}
        {CLEAR_VARIABLE rnd_team}

        # Give gold to the sides
        {VARIABLE recruit_cost 12}
        {VARIABLE_OP recruit_cost multiply $enemy.num_outlaws}
        [gold]
            side=2
            amount=$recruit_cost
        [/gold]
        {CLEAR_VARIABLE recruit_cost}

        [gold]
            side=1
            amount={WF_MIN_GOLD}
        [/gold]

        # Extra chest for Dragon
        {PLACE_KEEP_CHEST keep_locs yes}

        # Done with enemy keeps
        {CLEAR_VARIABLE keep_locs}
        {WF_TRUNCATE_CASTLE}

        {PLACE_GOLD_PILE_ANYWHERE}
        {PLACE_GOLD_PILE_ANYWHERE}
    [/event]

    {LIMIT_CONTEMPORANEOUS_RECRUITS 2 (Giant Scorpling) 3}

    [event]
        name=start

        {FIEF_UNIT (Dwarvish Fighter,Dwarvish Scout,Dwarvish Thunderer,Troll Whelp)}

#ifdef EASY
        {FIEF_UNIT (Dwarvish Scout)}
        {FIEF_UNIT (Dwarvish Thunderer)}
        {FIEF_UNIT (Dwarvish Fighter)}
        {FIEF_UNIT (Troll Whelp)}
#endif

        [unhide_unit]
        [/unhide_unit]

        [message]
            id=Hero
            message=_"Oh, thank the Gods. I was being chased by walking corpses."
        [/message]
        [message]
            side=1
            [not]
                id=Hero
            [/not]
            message=_"Quiet you fool. There's something big lurking around here."
        [/message]

        [objectives]
            side=1
            [objective]
                description= _ "Slay the Dragon"
                condition=win
            [/objective]
            [objective]
                description= _ "Kill all enemy units"
                condition=win
            [/objective]
            [objective]
                description= _ "Loot the chest"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Hero"
                condition=lose
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                {WF_CARRYOVER}
            [/gold_carryover]
        [/objectives]
    [/event]

    {VICTORY_MESSAGE}
    {DEFEAT_MESSAGE}
    [event]
        name=time_over_message

        {VARIABLE_OP random_sound rand (rumble.ogg,cave-in.ogg)}
        {QUAKE $random_sound}
        {CLEAR_VARIABLE random_sound}
        [message]
            speaker=Hero
            message= _ "The entrance caved in. We are trapped!"
        [/message]
    [/event]

    {SHARED_SUB_EVENTS}
#enddef

#define SHARED_UPRISING_EVENTS
    {SUB_SIDES no no}

    #random_start_time=no
    {TURNS 36 36 36}
    victory_when_enemies_defeated=no

    [event]
        name=prestart

        {STASH_GOLD}

        # Unstore the hero
        [store_starting_location]
            side=1
            variable=starting_loc
        [/store_starting_location]

        [unstore_unit]
            variable=old_hero_store
            x,y=$starting_loc.x,$starting_loc.y
        [/unstore_unit]
        {CLEAR_VARIABLE starting_loc}

        # Enemy sides stuff

        # Store map keeps and exclude side 1's keep
        [store_starting_location]
            side=1
            variable=starting_loc
        [/store_starting_location]
        [store_locations]
            mode=always_clear
            variable=keep_locs
            terrain=K*^*
            include_borders=no
            [and]
                [not]
                    x,y=$starting_loc.x,$starting_loc.y
                [/not]
            [/and]
        [/store_locations]
        {CLEAR_VARIABLE starting_loc}

        # The number of unoccupied keeps
        {VARIABLE players $keep_locs.length}

        # Side 2,3 stuff
        {SELECT_FIEF_FACTION}
        {WF_SPAWN_SIDE 2 keep_locs yes yes}
        {RANDOM_VAR rnd_r "1..10"}
        [if]
            {VARIABLE_CONDITIONAL rnd_r less_than 2}
            {VARIABLE_CONDITIONAL players greater_than 1}
            [then]
                #{SELECT_FIEF_FACTION}
                {WF_SPAWN_SIDE 3 keep_locs yes yes}
            [/then]
        [/if]
        {CLEAR_VARIABLE rnd_r}
        {CLEAR_VARIABLE leader_type}
        {CLEAR_VARIABLE recruit_type}
        {CLEAR_VARIABLE rnd_team}
        {CLEAR_VARIABLE players}

        # Done with enemy keeps
        {CLEAR_VARIABLE keep_locs}
        {WF_TRUNCATE_CASTLE}
    [/event]
#enddef

#define WF_SCENE_UPRISING
    {SHARED_UPRISING_EVENTS}

    [event]
        name=start

        {FIEF_UNIT (Elvish Fighter,Elvish Archer,Elvish Scout)}

#ifdef EASY
        {FIEF_UNIT (Elvish Archer)}
        {FIEF_UNIT (Elvish Scout)}
        {FIEF_UNIT (Elvish Fighter)}
#endif

        [unhide_unit]
        [/unhide_unit]

        [message]
            side=1
            [not]
                id=Hero
            [/not]
            message=_"The winter was harsh on us, milord. Our crops have failed and these criminals are constantly raiding us."
        [/message]

        [message]
            id=Hero
            message=_"Lay down your arms and surrender."
        [/message]

        [message]
            side=2
            message=_"Never!"
        [/message]

        [message]
            side=3
            message=_"Prepare to meet your maker."
        [/message]

        {KILL_LEADERS_OBJECTIVES}
    [/event]

    {VICTORY_MESSAGE}
    {DEFEAT_MESSAGE}
    [event]
        name=time_over_message
        [message]
            speaker=Hero
            message= _ "The raiders have decended to my city!"
        [/message]
    [/event]

    {SHARED_FIEF_EVENTS}
    {SHARED_SUB_EVENTS}
#enddef

#define WF_SCENE_UPRISING_URM
    {SHARED_UPRISING_EVENTS}

    [event]
        name=start

        {FIEF_UNIT (Drake Fighter,Drake Burner,Drake Glider)}

#ifdef EASY
        {FIEF_UNIT (Drake Fighter)}
        {FIEF_UNIT (Drake Burner)}
        {FIEF_UNIT (Drake Glider)}
#endif

        [unhide_unit]
        [/unhide_unit]

        [message]
            side=1
            [not]
                id=Hero
            [/not]
            message=_"Sorry, melord. These scoundlers want to distrupt your vacation."
        [/message]

        [message]
            id=Hero
            message=_"Let us pass and be on our way. We mean you no harm."
        [/message]

        [message]
            side=2
            message=_"Vacation, huh? You seem to have forgotten to pay the travel tax."
        [/message]

        [message]
            side=3
            message=_"Pay up or die."
        [/message]

        {KILL_LEADERS_OBJECTIVES}
    [/event]

    {VICTORY_MESSAGE}
    {DEFEAT_MESSAGE}
    [event]
        name=time_over_message
        [message]
            speaker=Hero
            message= _ "Ah, The traveling agency abandoned us. We are stranded!"
        [/message]
    [/event]

    {SHARED_FIEF_EVENTS}
    {SHARED_SUB_EVENTS}
#enddef

#define WF_SCENE_CAVE
    {SHARED_UPRISING_EVENTS}

    [event]
        name=start

        {FIEF_UNIT (Dwarvish Fighter,Dwarvish Scout,Dwarvish Thunderer,Troll Whelp)}

#ifdef EASY
        {FIEF_UNIT (Dwarvish Scout)}
        {FIEF_UNIT (Dwarvish Thunderer)}
        {FIEF_UNIT (Dwarvish Fighter)}
        {FIEF_UNIT (Troll Whelp)}
#endif

        [unhide_unit]
        [/unhide_unit]

        [message]
            id=Hero
            message=_"This cave is on my land. It is mine by right."
        [/message]
        [message]
            side=1
            [not]
                id=Hero
            [/not]
            message=_"Very well, we'll help you explore it."
        [/message]

        [message]
            side=2
            message=_"We challange your claim!"
        [/message]

        [message]
            side=3
            message=_"We want it? Fight for it."
        [/message]

        {KILL_LEADERS_OBJECTIVES}
    [/event]

    {VICTORY_MESSAGE}
    {DEFEAT_MESSAGE}
    [event]
        name=time_over_message
        {VARIABLE_OP random_sound rand (rumble.ogg,cave-in.ogg)}
        {QUAKE $random_sound}
        {CLEAR_VARIABLE random_sound}
        [message]
            speaker=Hero
            message= _ "The entrance caved in. We are trapped!"
        [/message]
    [/event]

    {SHARED_FIEF_EVENTS}
    {SHARED_SUB_EVENTS}
#enddef

#define WF_SCENE_INDOOR
    {SHARED_UPRISING_EVENTS}

    [event]
        name=start

        {PLACE_GOLD_PILE_ANYWHERE}
        {PLACE_GOLD_PILE_ANYWHERE}

        {FIEF_UNIT (Spearman,Fencer,Heavy Infantryman,Bowman)}

#ifdef EASY
        {FIEF_UNIT (Fencer)}
        {FIEF_UNIT (Heavy Infantryman)}
        {FIEF_UNIT (Bowman)}
        {FIEF_UNIT (Spearman)}
#endif

        [unhide_unit]
        [/unhide_unit]

        [message]
            side=1
            [not]
                id=Hero
            [/not]
            message=_"My lord, these traitors have risen against you."
        [/message]
        [message]
            id=Hero
            message=_"I will not tolerate this treachery. Lay down your arms now!"
        [/message]
        [message]
            side=2
            message=_"Time for this land to have a new Lord. Die you tyrant!"
        [/message]
        [message]
            side=3
            message=_"Yes, prepare to die!"
        [/message]

        {KILL_LEADERS_OBJECTIVES}
    [/event]

    {VICTORY_MESSAGE}
    {DEFEAT_MESSAGE}
    [event]
        name=time_over_message
        [message]
            speaker=Hero
            message= _ "Oh no! The traitors' reinforcment has arrived."
        [/message]
    [/event]

    {SHARED_FIEF_EVENTS}
    {SHARED_SUB_EVENTS}
#enddef
