#textdomain wesnoth-Wild_Frontiers

#define CHAIN_VICTORY
    [message]
        speaker=narrator
        image=wesnoth-icon.png
        message=_"Do you want to persue other locations?"
        [option]
            label=_"Yes."
            [command]
                {VARIABLE append_hero no}
                [fire_event]
                    name=wf_victory
                [/fire_event]

                [endlevel]
                    result=victory
                    bonus=yes
                    carryover_percentage=100
                    linger_mode=no
                    next_scenario=$rnd_fief
                [/endlevel]
            [/command]
        [/option]
        [option]
            label=_"No, I want to go back to my city."
            [command]
                {VARIABLE append_hero yes}
                [fire_event]
                    name=wf_victory
                [/fire_event]

                [endlevel]
                    result=victory
                    bonus=yes
                    carryover_percentage=100
                    linger_mode=no
                    next_scenario=$wf_vars.next_scenario
                [/endlevel]
            [/command]
        [/option]
    [/message]
    {CLEAR_VARIABLE rnd_fief}
#enddef

#define RAID_VICTORY
    [event]
        name=enemies defeated

        {FIEF_GOLD_REWARD}

        [message]
            speaker=Hero
            message= _ "This is the cost of defiance."
        [/message]

        [if]
            {VARIABLE_CONDITIONAL wf_vars.season_str equals "summer"}
            [then]
                {RANDOM_VAR rnd_fief "Fief_Uprising,Spring_Guardians,Raid_Spring"}
            [/then]
        [/if]
        [if]
            {VARIABLE_CONDITIONAL wf_vars.season_str equals "autumn"}
            [then]
                {RANDOM_VAR rnd_fief "Fief_Fall,Fall_Guardians,Raid_Fall"}
            [/then]
        [/if]
        {CHAIN_VICTORY}
    [/event]
#enddef

#define UPRISING_VICTORY
    [event]
        name=enemies defeated

        {FIEF_GOLD_REWARD}

        [message]
            speaker=Hero
            message= _ "This is the cost of defiance."
        [/message]

        [if]
            {VARIABLE_CONDITIONAL wf_vars.season_str equals "summer"}
            [then]
                {RANDOM_VAR rnd_fief "Fief_Uprising,Spring_Guardians,Raid_Spring"}
            [/then]
        [/if]
        [if]
            {VARIABLE_CONDITIONAL wf_vars.season_str equals "autumn"}
            [then]
                {RANDOM_VAR rnd_fief "Fief_Fall,Fall_Guardians,Raid_Fall"}
            [/then]
        [/if]
        {CHAIN_VICTORY}
    [/event]
#enddef

#define URM_UPRISING_VICTORY
    [event]
        name=enemies defeated

        {FIEF_GOLD_REWARD}

        [message]
            speaker=Hero
            message= _ "This is the cost of defiance."
        [/message]

        {SETUP_NEXT_URM}
        {VARIABLE rnd_fief "U_URM_$quota.next_urm"}
        {CLEAR_VARIABLE quota.next_urm}
        {CHAIN_VICTORY}
    [/event]
#enddef

#define GUARDIAN_VICTORY
    [event]
        name=die,check_objectives,turn end,enemies defeated
        first_time_only=no

        [if]
            [not]
                [have_unit]
                    [filter_side]
                        [enemy_of]
                            side=1
                        [/enemy_of]
                    [/filter_side]
                [/have_unit]
            [/not]
            [and]
                {VARIABLE_CONDITIONAL objective_goal numerical_equals 0}
            [/and]
            [then]
                {CLEAR_VARIABLE objective_goal}
                [message]
                    speaker=Hero
                    message= _ "We are done here. Let's go back."
                [/message]

                [if]
                    {VARIABLE_CONDITIONAL wf_vars.season_str equals "summer"}
                    [then]
                        {RANDOM_VAR rnd_fief "Fief_Uprising,Spring_Guardians,Raid_Spring"}
                    [/then]
                [/if]
                [if]
                    {VARIABLE_CONDITIONAL wf_vars.season_str equals "autumn"}
                    [then]
                        {RANDOM_VAR rnd_fief "Fief_Fall,Fall_Guardians,Raid_Fall"}
                    [/then]
                [/if]
                {CHAIN_VICTORY}
            [/then]
        [/if]
    [/event]
#enddef

#define URM_GUARDIAN_VICTORY
    [event]
        name=die,check_objectives,turn end,enemies defeated
        first_time_only=no

        [if]
            [not]
                [have_unit]
                    [filter_side]
                        [enemy_of]
                            side=1
                        [/enemy_of]
                    [/filter_side]
                [/have_unit]
            [/not]
            [and]
                {VARIABLE_CONDITIONAL objective_goal numerical_equals 0}
            [/and]
            [then]
                {CLEAR_VARIABLE objective_goal}
                [message]
                    speaker=Hero
                    message= _ "We are done here. Let's go back."
                [/message]

                {SETUP_NEXT_URM}
                {VARIABLE rnd_fief "G_URM_$quota.next_urm"}
                {CLEAR_VARIABLE quota.next_urm}
                {CHAIN_VICTORY}
            [/then]
        [/if]
    [/event]
#enddef

#define TRAITORS_VICTORY
    [event]
        name=enemies defeated

        {FIEF_GOLD_REWARD}

        [message]
            speaker=Hero
            message= _ "Someone was funding these traitors!"
        [/message]

        {VARIABLE rnd_fief "Traitors"}
        {CHAIN_VICTORY}
    [/event]
#enddef

#define CAVE_VICTORY
    [event]
        name=enemies defeated

        {FIEF_GOLD_REWARD}

        [message]
            speaker=Hero
            message= _ "We've struck gold!"
        [/message]

        {VARIABLE rnd_fief "Hidden_Cave"}
        {CHAIN_VICTORY}
    [/event]
#enddef
